// COLORS
$primary-color: #c76c88;
$secondary-color: #b34364;

$white-color: #fff;

$dark-grey: #22284d;
$light-grey: #d2d2d2;

$dark-blue-text: #22284d; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
