/*CONTAINER OF NAVBAR AND LOGO*/
.container-st {
  padding: 1em 0 1em 0;
  text-align: center;
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 999;
  width: 100%;
  box-shadow: 0 2px 5px -2px gray;
}

/*NAVBAR STYLES*/

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: black;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

.nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-item {
  margin-bottom: 1em;
  margin-left: 1em;
}

.nav-link {
  color: black;
  text-decoration: none;
  font-size: 0.75 rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
  /*when it's no longer checked it will use this transition*/
}

.nav-link:hover {
  color: yellow;
}

.nav-toggle:checked ~ nav {
  /*the tilde is looking for a nav that is a sibloing of nav-toggle*/
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav .nav-link {
  opacity: 1;
  transition: opacity 250ms ease-in-out 300ms;
  /*when hamburger is checked it will use this transition*/
}

@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }

  .container-st {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }

  .logo {
    grid-column: 2 / span 1;
  }

  .nav {
    all: unset;
    grid-column: 3/4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .nav .nav-link {
    display: flex;
    opacity: 1;
    position: relative;
  }

  .nav .nav-list {
    display: flex;
  }

  .nav .nav-item {
    margin-left: 3em;
    margin-bottom: 0;
  }

  .nav .nav-link::before {
    content: "";
    display: block;
    /*height: 5px;*/
    background: black;
    position: absolute;
    top: -0.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transform-origin: left;
    transition: transform ease-in-out 250ms;
  }

  .nav .nav-link::before {
    transform: scale(1, 1);
  }
}
